.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.not-found h1 {
    margin-bottom: 0.5em;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(15, 177, 50);
    
}

.not-found p{
    font-size: 1.2rem;
    color: rgb(2, 32, 8);
}

@media only screen and (max-width: 768px) {
    .not-found{
        padding: 1em;
    }
    .not-found h1 {
        font-size: 2rem;
    }
    .not-found p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 480px) {
    .not-found{
        padding: 2em;
    }
    .not-found h1 {
        font-size: 1.8rem;
    }
}