.main-bg {
  display: flex;
  width: 100%;
  height: auto;
}

/* Container Styling */
.container {
  width: 22%;
  padding: 5em 1.5em;
}
.users-input {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  height: auto;
  padding: 1.5em;
  background-color: green;
  border-radius: 5px;
}

.header {
  text-align: center;
  color: #ebebeb;
  font-size: 1.5vw;
}

.label {
  margin: 20px 0;
  color: #ebebeb;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.input:focus,
.input:active {
  border: 1px solid #333;
}

.dropdown {
  list-style-type: none;
  padding: 0;
}

.dropdown-item {
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  margin: 5px 0;
}
.dropdown-item:hover {
  background-color: #9f9d9d;
}

button.submit-button {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 20px 0;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: rgb(15, 177, 50);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.submit-button:hover {
  background-color: rgb(18, 208, 59);
}
.svg {
  height: 165dvh;
  width: 100%;
  flex: 1;
}

.svg svg {
  height: 100%;
  padding: 0 2em 2em 0;
  width: 100%;
  height: 100%;
}

.result {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Responsive Breakpoints */

/* Tablet Screens (up to 768px) */
@media only screen and (max-width: 968px) {
  .main-bg {
    display: block;
    justify-content: center;
  }

  .container {
    /* background-color: red; */
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .header {
    font-size: 1.4rem;
  }
  .svg{
    height: 150dvh;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .header {
    font-size: 1.3rem;
  }

  .svg {
    height: 120dvh;
  }
}

/* Mobile Screens (up to 480px) */
@media only screen and (max-width: 480px) {
  .svg {
    height: 55dvh;
  }
} 
